:root {
  font-size: 14pt;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.form-container {
  background: #fff;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border: 2px solid #ccc;
  width: 260px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: auto;
}

.button {
  padding: 3px 20px;
  border: none;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  font-size: 1rem;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 2rem;
  list-style: none;
}

.breadcrumb li {
  display: inline;
}
.breadcrumb li::after {
  content: " > ";
}
.breadcrumb li:nth-last-child()::after {
  content: "";
}