<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>注文管理システム</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base-style.css') }}"
    />
  </head>
  <body>
    <h1>注文管理システム</h1>
    <ul>
      <li><a href="{{ url_for('user.list') }}">ユーザー（利用者）</a></li>
      <li><a href="{{ url_for('books.list') }}">本一覧</a></li>
      <li><a href="{{ url_for('rental.list') }}">本の貸し出し</a></li>
      <li><a href="{{ url_for('book_request.list') }}">本のリクエスト</a></li>
      <li><a href="{{ url_for('user.chart') }}">利用者登録数の推移</a></li>
    </ul>